PORT = 8080
DB_HOST = 'localhost'
DB_USER = 'root'
DB_PASSWORD = ''
DB_NAME = 'todo-list-one-billion-tech'
HASHING_PASSWORD_SALTROUNDS = 10
JWT_SECRET_KEY = "a#8hf3K$9eFhD57*mznP&6v!Z9RkpqD1s^j2La0T!mk1N5Yqf93"
EMAIL_HOST = sandbox.smtp.mailtrap.io
EMAIL_PORT = 25
EMAIL_USER = <your-mailtrap-username>
EMAIL_PASSWORD = <your-mailtrap-password>
CLIENT_URL = 'http://localhost:5173'